name: Build and Send LaTeX Document

on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Construccion
    runs-on: ubuntu-latest

    container:
      image: adnrv/texlive:tools

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Change to docs directory
      run: cd docs

    - name: Remove Old PDF
      run: rm -rf *.pdf
      working-directory: ./docs

    - name: Clear LaTeX Files
      run: latexmk -c -C
      working-directory: ./docs

    - name: Compile LaTeX Document
      run: |
        ls 
        latexmk -e '$max_repeat=10' -synctex=1 -interaction=nonstopmode -file-line-error -pdf -f main.tex
      working-directory: ./docs

    - name: Upload PDF
      uses: actions/upload-artifact@v2
      with:
        name: main.pdf
        path: docs/main.pdf
        
  release:
    name: Despliegue
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Descargar artefactos
        uses: actions/download-artifact@v3
        with:
          name: main.pdf
        
  notification:
    name: Notificacion
    runs-on: ubuntu-latest
    needs: release  # Corrected typo here
    steps:
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.8'

      - name: ls
        run: ls; cd docs

      - name: Install Python Dependencies
        run: |
          pip install -r requirements.txt 
        working-directory: ./docs

      - name: Execute Python Script
        run: python send_document.py
        working-directory: ./docs
      